.posts-wrapper {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.parent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
  justify-content: center;
  align-items: center;
}
.btn {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
